# Database Connections
MYSQL_CONNECTOR_PATH=/path/to/mysql-connector-j-9.1.0.jar
MONGODB_URI=mongodb://localhost:27017
MYSQL_URL=jdbc:mysql://localhost:3306/stock_market
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password

# Database Names and Tables
MONGO_DB=stock_market
MONGO_COLLECTION=transactions
COMPANY_INFO_TABLE=company_info
MARKET_INDEX_TABLE=market_index

# Output Path, this is where the output CSV files will be saved
# Do not need to change this
OUTPUT_PATH=data/output/ 